<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>853248630060-8pl6jpcd8pbj7tnoc9ifltrq11mfvir5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.853248630060-8pl6jpcd8pbj7tnoc9ifltrq11mfvir5</string>
	<key>API_KEY</key>
	<string>AIzaSyAl48sAmn7s92eFjH4fEs0mPTziu032fgo</string>
	<key>GCM_SENDER_ID</key>
	<string>853248630060</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sk.Cheers-v1-1012</string>
	<key>PROJECT_ID</key>
	<string>cheers-4b4f6</string>
	<key>STORAGE_BUCKET</key>
	<string>cheers-4b4f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:853248630060:ios:207dba4fee4b7b60ee6089</string>
</dict>
</plist>
